/* starting the css code for my html */

html {
    background-color: lightgray;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: black;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: black;
    margin-bottom: 5px;
    width: 60%;
}

.btn-grid {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid gray;
    align-items: center;
    width: 60%;
}

#answer-buttons.btn-grid {
    width: 80%;
}

.ansbtn {
    margin: 5px;
    width: 30%;
    background-color: lightsalmon;
}

.rightwrong {
    display: flex;
    justify-content: center;
    align-items: center;
    width:  60%;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#correct {
    color: green;
    font-size: 20px;
}

#wrong {
    color: rgb(255, 0, 0);
    font-size: 20px;
}

.high-score-page {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}

#high-score-list {
    background-color: lightpink;
    width: 15%;
    text-align: left;
}

.hide {
    display: none;
}

